{% extends "layout.html" %}

{% block title %}
    CommChannels Index
{% endblock %}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Login firt time access
    if (!localStorage.getItem('username')){

      //First time access

      //Form to login visible
      document.querySelector('#div-login').style.visibility = "visible";
      document.querySelector('#div-channel').style.visibility = "hidden";

      // By default, submit button is disabled. Enable if there's text name
      //document.querySelector('#submit-loginname').disabled = true;

      //document.querySelector('#text-loginname').onkeyup = () => {
      //    if (document.querySelector('#text-loginname').value.length > 0)
      //      document.querySelector('#submit-loginname').disabled = false;
      //    else
      //      document.querySelector('#submit-loginname').disabled = true;
      //}

      // Get text-loginname and set at localStorage
      document.querySelector('#div-login').querySelector("#form-loginname").onsubmit = () => {
          localStorage.setItem('username', document.querySelector('#text-loginname').value);
          document.querySelector('#div-login').style.visibility = "hidden";
      }

    } else {
      // It's not first time access
      document.querySelector('#div-login').style.visibility = "hidden";
      document.querySelector('#div-channel').style.visibility = "visible";

      // call createchannel
      document.querySelector("#form-createchannel").onsubmit = () => {

          // Initialize new request
          const username = localStorage.getItem('username');
          const channelname = document.querySelector('#text-channelname').value
          document.querySelector('#text-username').value=localStorage.getItem('username');
          document.querySelector("#form-createchannel").submit()

          return true;
      };


    }
    // Display the loginname
    if ( localStorage.getItem('username') !== null)
      document.querySelector('#username').innerHTML = "Hello guy, " + localStorage.getItem('username') + "!!";

  });
  </script>

{% endblock %}

{% block body %}
  <span id="username" class="label label-primary"></span>

  <div id="div-login" class="container">
    <form id="form-loginname" >
        <div class="form-group">
            <label for="name">Hey, It's the fist time you enter this page. Please, choose a name: </label>
            <input id="text-loginname" class="form-control" autocomplete="off" autofocus placeholder="Enter login name" type="text">
        </div>
        <div class="form-group">
          <input id="submit-loginname" class="btn btn-primary" type="submit" value="Login">
        </div>
    </form>
  </div>

  <div id="dic-result">
    {% if msgResult %}
      <span id="msgResult" class="label label-primary">{{ msgResult }}</span>
    {% endif %}
  </div>

  <div id="div-channel" class="container">

    {% if channels %}

    <span id="span-channels" class="label label-primary">Channel list. </span>
    <ul>
      {% for channelname in channels %}
          <li>
                Channel:  {{ channelname }}
                <ul>
                  {% if channels[channelname] %}
                    {% for message in channels[channelname] %}
                      {% if message %}
                        <li>
                          Message:  {{ message.show() }}
                        </li>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </ul>
          </li>
      {% endfor %}
    </ul>
    {% endif %}


    <form id="form-createchannel" action="createchannel" method="post">
        <div class="form-group">
            <label for="name">Please, enter a name for a new channel: </label>
            <input id="text-channelname" name="text-channelname" class="form-control" autocomplete="off" autofocus placeholder="Enter channel name" type="text">
            <input id="text-username" name="text-username" style="display:none" type="text">
        </div>
        <div class="form-group">
          <input id="submit-createchannel" class="btn btn-primary" type="submit" value="Create channel">
        </div>
    </form>




  </div>
{% endblock %}
